.loader{
    width: 100px;
    height: 100px;
    margin-top: 12px;
    border-radius: 50%;
    border: 15px solid #cecece;
    border-top: 15px solid #0094ff;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}