th {
    padding: 10px 6px;
    text-align: left;
    background-color: #dddbdb;
}

table {
    width: 35rem;
    border-collapse: collapse;
}

td {
    padding: 8px 6px;
}

.table-container {
    height: 16rem;
    margin-top: 12px;
    overflow-y: scroll;
    border: 1px solid #dddbdb;
    border-top: 0;
}

thead {
    top: 0;
    position: sticky;
}